main{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width: 400px;
margin: 100px auto;
box-shadow: 0px 0px 66px -6px rgba(66,128,130,1);
background-color: seashell;

}
nav {
flex-direction: row;
justify-content: space-between;
display: flex;
padding-left: 10px;
padding-right: 10px;
}

footer {

  padding-left: 10px;
  padding-right: 10px;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  border-top: 1px solid silver;

}

.articles {

  margin: 30px;

}